.navbar{
    width: 100%;
    height: 100px;
    background-color: #f79a83;
    display:flex;
    justify-content: center;
    position: fixed;

}
.seven-up-logo-div{
display: flex;
align-items: center;
position: absolute;
left: 2rem;
}
.seven-up-logo{
    width: 70px;

}
.navbar-items{
    display: flex;
    gap: 1rem;
    padding: 0,5rem,1rem;
    border-radius: 5px;
}
.products{
     font-size: 20px;
     text-decoration: none;
     color: aliceblue;
     margin-left: 868px;
    
}
.recipes{
    font-size: 20px;
     text-decoration: none;
     color: aliceblue;
    
}
.stores{
    font-size: 20px;
     text-decoration: none;
     color: aliceblue;
    
}
.products:hover{
cursor: pointer;
text-decoration: underline;
font-family: Helvetica sans-serif;
}
.recipes:hover{
    cursor: pointer;
    text-decoration: underline;
    }
.stores:hover{
    cursor: pointer;
text-decoration: underline;
}
.icons{
    display: flex;
    align-items: center;
    gap: 2px;
}
.facebook{
    width: 30px;
    height: 30px;
    margin-left: 40px;
    
}
.instagram{
    width: 30px;
    height: 30px;
}
.x{
    width: 30px;
    height: 30px;
}
.tiktok{

    width: 30px;
    height: 30px;
}
.pinterest{
    width: 30px;
    height: 30px;
}
.youtube{
    width: 30px;
    height: 30px;
}

